body {
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
}

#bigboy {
    width: 600px;
    height: 400px;
    display: flex;
    margin: 100px auto;
    
}

#logo-slogan {
    width: 340px;
    height: inherit;
    display: inline-block;
    border: 1px solid black;
}

#smallboy {
    width: 250px;
    margin-left: 10px;
    height: inherit;
    display: inline-block;
}

#login {
    width: inherit;
    height: 100px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
}

#signup {
    width: inherit;
    background-color: white;
    height: 290px;
    border: 1px solid black;
}

form {
    padding: 10px;
}

.input-field {
    display: flex;
    justify-content: space-between;
}

.input-buttom {
    display: flex;
    justify-content: flex-end;
}

input[type="text"], input[type="password"], select, input[type="email"] {
    width: 120px;
}

h2 {
    text-align: center;
    margin: 5px;
}

.error-box {
    color: red;
    margin-top: 5px;
    font-weight: bold;
}



#profileview {
    width: 600px;
    height: 400px;
    margin: 100px auto;
    background-color: hotpink;
}

#nav {
    width: inherit;
    height: 20px;
    display: flex;
    flex-direction: row;
    background-color: green;
}

#nav div {
    box-sizing:border-box;
    width: 200px;
    height: inherit;
    cursor: pointer;
}
#homebutton {
    background-color: yellow;
}

#browsebutton {
    background-color: darkgoldenrod;
}

#accountbutton {
    background-color: orange;
}

.selected {
    border-left:3px solid rgba(0, 0, 0, 0.3);
    border-top:2px solid rgba(0, 0, 0, 0.3);
}

#homeview {
    /* display: none; */
    height: 384px;
    width: inherit;
    background-color: yellow;
}

#browseview {
    display: none;
    height: 384px;
    width: inherit;
    background-color: darkgoldenrod;
}

#accountview {
    display: none;
    height: 384px;
    width: inherit;
    background-color: orange;
}